<ul>
	<li>{% imagePlaceholder "./src/assets/images/movie_poster_thumbs/090_hustle_thumb.jpg", "Hustle" %}</li>
	<li>{% imagePlaceholder "./src/assets/images/movie_poster_thumbs/089_jupiters_legacy_thumb.jpg", "Jupiter's Legacy" %}</li>
	<li>{% imagePlaceholder "./src/assets/images/movie_poster_thumbs/088_allen_v_farrow_thumb.jpg", "Allen v. Farrow" %}</li>
	<li>{% imagePlaceholder "./src/assets/images/movie_poster_thumbs/087_superintelligence_thumb.jpg", "Superintelligence" %}</li>
</ul>